body{
    font-family: Roboto, Helvetica, sans-serif;
}

/* page padding */
.header, .hero, .imgs, .voc, .banner{
    padding: 8px 80px;
}
/* dark background */
.header, .hero, .footer{
    background-color: #1f2937;
}

/* light font colors */
.logo, .nav, .hero{
    color: #f9faf8;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
}

a {
    text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px 80px;
    gap: 36px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 0px;
}

.hero-text{
    font-size: 48px;
    font-weight: 900;
    margin: 0%;
}

.hero-subtext{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0%;
}

.cta {
  display: inline-block;
  width: auto;
  padding: 8px 24px;
  background: #3882f6;
  color: #e5e7eb;
  border-radius: 4px;
  border: none;
  margin: 12px 0;
  cursor: pointer;
  align-self: flex-start;
  min-width: 100px;
}

.cta-border {
  display: inline-block;
  width: auto;
  padding: 8px 24px;
  background: #3882f6;
  color: #e5e7eb;
  border-radius: 4px;
  border-color: #f9faf8;
  margin: 12px 0;
  cursor: pointer;
  align-self: flex-start;
  min-width: 100px;
}

.hero-right{
    background: #ffffff50;
    padding: 32px;
    align-self: stretch;
}

.hero-left,
.hero-right {
    flex: 1;
}

.title{
    display: flex;
    justify-content: center;
    padding: 24px;
}

.imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
    margin-bottom: 64px;
}

.image{
    flex: auto;
    min-height: 100px;
    aspect-ratio: 1 / 1;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.captionimage{
    align-items: center;
}

.voc{
    background-color:#00000010;
    display: flex;
    flex-direction:column;
}

.testimonial{
    flex:1;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color:#1f2937;
    padding: 0%;
}

.h3{
    text-align: right;
    font-weight: bold;
}

.h3w{
    color:#f9faf8;
    text-align: right;
    font-weight: bold;
    text-align: left;
    margin: 0%;
}

.text-w{
    color:#f9faf8;
    text-align: left;
    font-weight: 200;
    padding: 0%;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 64px;
    padding: 32px 80px;
    background-color: #3882f6;
    border-radius: 8px;
    gap: 24px;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 24px;
}

